.institutes-container {
  padding-left: 6%;
  padding-right: 6%;
}

.choose-your-institute {
  font-size: 50px;
}

.searchbar-container {
  width: 100%;
}

.institute-papers-container {
  width: 100%;
}

.see-resources-button {
  width: 145px;
  min-width: "fit-content";
}

/* Media Queries */

@media (min-width: 0px) {
  .institutes-container {
    padding-left: 4%;
    padding-right: 4%;
  }

  .choose-your-institute {
    font-size: 40px;
  }

  .searchbar-container {
    width: 90%;
  }

  .institute-title-typography {
    text-align: center;
  }
}

@media (min-width: 375px) {
  .institutes-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 425px) {
  .institutes-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .searchbar-container {
    width: 85%;
  }

  .institute-papers-container {
    width: 90%;
  }
}

@media (min-width: 600px) {
  .institutes-container {
    padding-left: 6%;
    padding-right: 6%;
  }

  .choose-your-institute {
    font-size: 45px;
  }

  .searchbar-container {
    width: 80%;
  }

  .institute-papers-container {
    width: 85%;
  }
}

@media (max-width: 650px) {
  .see-resources-button {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .choose-your-institute {
    font-size: 50px;
  }

  .searchbar-container {
    width: 75%;
  }

  .institute-papers-container {
    width: 95%;
  }

  .institutes-paper-container {
    column-gap: 10px;
    row-gap: 20px;
    width: 120%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .searchbar-container {
    width: 70%;
  }

  .institute-papers-container {
    width: 85%;
  }

  .institutes-paper-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .searchbar-container {
    width: 60%;
  }

  .institutes-grid-item {
    width: "60%";
  }
}
