.navbar-logo {
  font-size: 33px !important;
}

@media (min-width: 600px) {
  .navbar-logo {
    font-size: 35px !important;
  }
}

@media (max-width: 768px) {
  .navbar-links,
  .navbar-auth {
    display: none;
  }

  .navbar-logo {
    width: 50%;
    font-size: 28px;
  }

  .navbar-menuicon {
    display: flex;
  }
}
